{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur l'outil de vote de R2AS !{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Bienvenue sur l'outil de vote de R2AS !</h1>
</div>

<a class="btn btn-primary" href="/new-vote" role="button">Créer un vote</a>


{% endblock %}
