<p>
Bonjour,<br>
Voici votre lien pour administrer la période que vous venez de créer : <a href="https://vote.r2as.org/param-vote/{{ uuid }}">https://vote.r2as.org/param-vote/{{ uuid }}</a><br>

Bonne utilisation !
</p>