<p>
Bonjour,<br>
Vous venez d'être invité à participer au vote {{ event.name }}. <br>
Voici votre lien secret vous permettant d'accéder à la plateforme <a href="https://vote.r2as.org/vote/{{ uuid }}">https://vote.r2as.org/vote/{{ uuid }}</a><br>

Bonne utilisation !
</p>