{% extends 'base.html.twig' %}

{% block title %}Hello CreateVoteController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ event.name }}  ! ✅</h1>

<a href="/param-users/{{ uuid }}">Ajouter un votant</a>
<a href="/param-proposals/{{ uuid }}">Ajouter une proposition</a>
</div>
{% endblock %}
